# The 56-character Contract ID of the deployed Soroban contract on Stellar Testnet (starts with C)
NEXT_PUBLIC_CONTRACT_ID=CCKBEDV7QM7U7D2OSWZJXWMZEQ4KEZQSHSB6VJS52CYEKM5ZI6YPCKS3

# Stellar Testnet Network Configuration
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
